<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Organics Fruits</title>
</head>
<body>
    <img src="~/images/company.jpg" />
    <p>
        Founded in 2001, <b>Organic Fruits</b> is now the world’s leading grower,
        distributor and retailer of organic produce, offering more than
        100 varieties of home-grown and imported organic fruit and vegetables.
        Since its establishment, <b>Organic Fruits</b> has been a trusted source of
        delicious and healthy food grown without chemical fertilizers or pesticides.
        <b>Organic Fruits</b> is popular because of its down-to-earth reputation
        and the quality of its tasty, fresh organic fruit & vegetables.
        These are available in many supermarkets near you.
    </p>
    <a href="~/organic/subscription">Subscribe our Newsletter</a>
</body>
</html>
<!-- 20031509 Thng Yu Yang -->
