<nav class="navbar navbar-expand-sm navbar-light bg-light">
   <a class="navbar-brand" href="/Subscriber/Index">
      <img src="~/images/SocialMediaSmall.png" height="30" />
   </a>

   <!-- Hamburger Menu -->
   <button class="navbar-toggler" type="button"
           data-toggle="collapse" data-target="#navbarSupportedContent"
           aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown1"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Subscribers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
               <a class="dropdown-item" href="/Subscriber/Subscribers">View All</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="/Subscriber/SubscriberAdd">Add Subscriber</a>
            </div>
         </li>

         <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown2"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Providers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
               <a class="dropdown-item" href="/Provider/Providers">View All</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="/Provider/ProviderAdd">Add Provider</a>
            </div>
         </li>

         <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown3"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Subscriptions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
               <a class="dropdown-item" href="/Subscription/Subscriptions">View All</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="/Subscription/SubscriptionAdd">Add Subscription</a>
            </div>
         </li>

      </ul>
   </div>
</nav>

<div>&nbsp;</div>