<h1>About Us</h1>

<p>
   Lemonade presents annual series of concerts and educational events for listeners ranging
   from connoisseurs to chamber music newcomers of all ages. Performing repertoire from
   over three centuries, and numerous premieres by living composers, Lemonade offers
   programs curated to provide listeners a comprehensive perspective on the art of
   chamber music. The performing artists of Lemonade, a multi-generational selection
   of expert chamber musicians, constitute an evolving repertory company capable of
   presenting chamber music of every instrumentation, style, and historical period.
   Its annual activities include a full season of concerts and events,
   national and international tours.
</p>