@model Performance;

@section MoreScripts {
    <script src="~/lib/moment/moment.min.js"></script>
    <link href="~/lib/dtpicker/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <script src="~/lib/dtpicker/js/tempusdominus-bootstrap-4.min.js"></script>

    <script language="javascript">
        $(document).ready(function () {
            $('#JSPerformDT')
                .datetimepicker({
                    format: 'YYYY-MM-DD HH:mm',
                    sideBySide: true
                });
        });
    </script>
}

@{
    // TODO: L11 Task 2 - Complete this Form
}

<form asp-controller="Performance" asp-action="Update"
      method="post">

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-6 ">
            <h2>Update Performance Record</h2>
        </div>
    </div>

    <input asp-for="Pid" hidden />

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Title">Title :</label>
        <div class="col-sm-5">
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Artist">Artist :</label>
        <div class="col-sm-5">
            <input asp-for="Artist" class="form-control" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Artist" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="PerformDT">Date :</label>
        <div class="col-sm-5">
            <div class="input-group date" id="JSPerformDT" data-target-input="nearest">
                <input type="text" asp-for="PerformDT" class="form-control" asp-format="{0:yyyy-MM-dd HH:mm}" />
                <div class="input-group-append" data-target="#JSPerformDT" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="PerformDT" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Duration">Duration :</label>
        <div class="col-sm-3">
            <select asp-for="Duration" class="form-control">
                <option value="0.5">0.5</option>
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
                <option value="2.5">2.5</option>
                <option value="3">3</option>
                <option value="3.5">3.5</option>
                <option value="4">4</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Price">Price :</label>
        <div class="col-sm-3">
            <input asp-for="Price" type="text" class="form-control" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Chamber">Chamber :</label>
        <div class="col-sm-3">
            <select asp-for="Chamber" class="form-control">
                <option value="C11">C11</option>
                <option value="C12">C12</option>
                <option value="C13">C13</option>
                <option value="C20">C20</option>
                <option value="C22">C22</option>
                <option value="C29">C29</option>
                <option value="C33">C33</option>
                <option value="C35">C35</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <div class="alert alert-@ViewData["MsgType"]">
                    @ViewData["Message"]
                </div>
            </div>
        </div>
    }


</form>
@*20031509 Thng Yu Yang *@