<nav class="navbar navbar-expand-sm navbar-light bg-light">
   <a class="navbar-brand" href="/BookWorm/Index">Bookworm Quest</a>

   <!-- Hamburger Menu -->
   <button class="navbar-toggler" type="button"
           data-toggle="collapse" data-target="#navbarSupportedContent"
           aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item"><a href="/BookWorm/Books" class="nav-link">View Books</a></li>
         <li class="nav-item"><a href="/BookWorm/BookAdd" class="nav-link">Add Book</a></li>
         <li class="nav-item"><a href="/BookWorm/BookDelete" class="nav-link">Delete Book</a></li>

         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button"
               href="#" id="navbarDropdown" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               Publishers
            </a>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="/BookWorm/Publishers">View All</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="/BookWorm/PubAdd">Add Publisher</a>
               <a class="dropdown-item" href="/BookWorm/PubDelete">Delete Publisher</a>
            </div>
         </li>
      </ul>
   </div>
</nav>
<div>&nbsp;</div>
