<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Country</title>
    <style>
        table {
            width: 300px;
            border: 1px solid;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid;
        }
    </style>

</head>
<body>
    <div>
        <table>
            <tr>
                <th>ISO</th>
                <th>COUNTRY</th>
                <th>CODE</th>
            </tr>
            <tr>
                <td>HK</td>
                <td>Hong Kong</td>
                <td>852</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>Indonesia</td>
                <td>62</td>
            </tr>
            <tr>
                <td>MY</td>
                <td>Malaysia</td>
                <td>60</td>
            </tr>
            <tr>
                <td>PH</td>
                <td>Philippines</td>
                <td>63</td>
            </tr>
            <tr>
                <td>TH</td>
                <td>Thailand</td>
                <td>66</td>
            </tr>
            <tr>
                <td>SG </td>
                <td>SINGAPORE</td>
                <td>65</td>
            </tr>
        </table>
    </div>
</body>
</html>