<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Country</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="col-sm-8">
                <h2>Country Codes</h2>
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>ISO</th>
                        <th>COUNTRY</th>
                        <th>CODE</th>
                    </tr>
                    <tr>
                        <td>HK</td>
                        <td>Hong Kong</td>
                        <td>852</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>Indonesia</td>
                        <td>62</td>
                    </tr>
                    <tr>
                        <td>MY</td>
                        <td>Malaysia</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>PH</td>
                        <td>Philippines</td>
                        <td>63</td>
                    </tr>
                    <tr>
                        <td>TH</td>
                        <td>Thailand</td>
                        <td>66</td>
                    </tr>
                    <tr>
                        <td>SG</td>
                        <td>Singapore</td>
                        <td>65</td>
                    </tr>
                </table>
            </div>
        </div>


    </body>
</html>