<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SayHello1</title>
</head>
<body>
    @ViewData["Greeting"]
</body>
</html>
<!-- 20031509 Thng Yu Yang -->