<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Waterloo Primary School</title>
</head>
<body>

    <h2>Thank you for being a Volunteer</h2>
    <p>
        Dear @ViewData["abc"] ,
    </p>
    <p>
        We acknowledged your application.
    </p> 
    <p>
        The activity <u>@ViewData["activity"] </u>
        which you are volunteering on @ViewData["day"]
        will earn you <b>@ViewData["points"] </b> credit points.
    </p>

</body>
</html>
<!-- 20031509 Thng Yu Yang -->
