<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempData</title>
</head>
<body>
   <div class="alert alert-info">
      Data1 --> @TempData["Data1"]
   </div>

   <div class="alert alert-info">
      Data2 --> @ViewData["Data2"]
   </div>

   <div class="alert alert-info">
      Data3 --> @ViewData["Data3"]
   </div>
</body>
</html>
