<div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
      <li class="nav-item">
         <a class="nav-link" asp-controller="Travel" asp-action="MyTrips">My Trips</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" asp-controller="Travel" asp-action="Create">New Trip</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" asp-controller="Admin" asp-action="Users">Users</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" asp-controller="Admin" asp-action="CreateUser">New User</a>
      </li>
   </ul>
   <ul class="nav navbar-nav ml-auto">
      <li>
         <p class="navbar-text">
            Welcome @User.Identity.Name<br />
         </p>
      </li>
      <li>
         <a class="nav-link" asp-controller="Account" asp-action="Logoff">
            <i class="fa fa-sign-out"></i>
            Logout
         </a>
      </li>
      <li>
         &nbsp;&nbsp;&nbsp;
      </li>
   </ul>
</div>

