<h1>Demonstration of QRCode</h1>
<p>
   First
   <qrcode>http://www.rp.edu.sg</qrcode>
</p>
<p>
   Second
   <qrcode width="100" height="100">http://www.microsoft.com</qrcode>
</p>
<p>
   Third
   <qrcode width="150" height="150">http://c236dotnet.azurewebsites.net/</qrcode>
</p>





