<h1>Demonstration of Query Strings</h1>
Append to the URL the following<br />
<b>?keyA=value1&keyB=baby%20is%20crying&keyC=so+simple+concept</b>
<hr />
<p>
   Key is <b>keyA</b>, Value is <b>@ViewData["q1"]</b>
</p>
<p>
   Key is <b>keyB</b>, Value is <b>@ViewData["q2"]</b>
</p>
<p>
   Key is <b>keyC</b>, Value is <b>@ViewData["q3"]</b>
</p>
